PORT=3000
MONGO_URL=mongodb://localhost/hex

SESSION_SECRET=ScoobyDoobyDoo
CLIENTS="googleIDforwhatever AnotherGoogleID"
GOOGLE_SECRET=oc_iP2Xj9l7uRbl9vEqs4H67

JWT_SECRET=vk7t48rktPsMzhaVJEESXnDKgARDW8aR
JWT_ISSUER="UWP AppFactory"

ACCESSTOKEN_EXPIRESIN=1h
REFRESHTOKEN_EXPIRESIN=7d

NODE_ENV=development
